@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Nunito:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #000000;
  padding: 0;
  font-size: 16px;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.4rem 1rem 0.3rem;
  border-radius: 1rem;
  color: black;
  background-color: rgb(255, 228, 0);
  border-width: 2px 1px;
  border-style: solid;
  border-color: rgb(255, 246, 167) rgb(255, 228, 0) rgb(243, 187, 0);
  border-image: inital;
  transition: all 200ms ease 0s;
}

.button-circle {
  flex: 1 0 auto;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  border-radius: 100%;
  background-color: rgb(255, 228, 0);
  border-width: 2px 1px;
  border-style: solid;
  border-color: rgb(255, 246, 167) rgb(255, 228, 0) rgb(243, 187, 0);
  border-image: inital;
}

.color-beige {
  background-color: rgb(219, 212, 175) !important;
  border-width: 1px 1px 2px !important;
  border-color: rgb(234, 230, 208) rgb(219, 212, 175) rgb(186, 180, 149) !important;
}

.color-red {
  background-color: rgb(255, 136, 30) !important;
  border-width: 1px 1px 2px !important;
  border-color: rgb(255, 185, 123) rgb(255, 136, 30) rgb(217, 116, 26) !important;
}

.color-blue {
  background-color: rgb(68, 200, 255) !important;
  border-width: 1px 1px 2px !important;
  border-color: rgb(145, 223, 255) rgb(68, 200, 255) rgb(63, 167, 211) !important;
}

.color-green {
  background-color: rgb(106, 233, 17) !important;
  border-width: 1px 1px 2px !important;
  border-color: rgb(199, 247, 156) rgb(106, 233, 17) rgb(95, 163, 19) !important;
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  }
}

@layer components {
  .border-ui {
    @apply border border-solid border-black border-opacity-30;
  }

  .tutorial {
    @apply z-10 w-full border-t-8 border-tutorial bg-tutorial px-6 pb-8 pt-3;
  }

  .tutorial b {
    @apply text-purple;
  }

  .create-button-wrapper {
    @apply inline-block rounded-20px bg-gradient-to-br from-border-yellow via-yellow to-border-orange shadow-sharp;
  }

  .create-button {
    @apply rounded-20px bg-gradient-to-br from-yellow to-orange px-3 py-2 text-center text-vw font-black text-black;
  }

  .close-button {
    @apply text-xxs absolute right-0 top-0 mr-6 mt-2 flex h-4 w-4 items-center justify-center rounded-full text-black;
  }

  @screen sm {
    .create-button {
      @apply text-2xl;
    }
  }

  @screen md {
    .tutorial {
      @apply w-500px rounded-20px border-0 bg-transparent bg-gradient-to-b from-tutorial-desktop to-transparent p-8 pt-5;
    }
  }
}
