@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Nunito:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #000000;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.4rem 1rem 0.3rem;
  border-radius: 1rem;
  color: black;
  background-color: rgb(255, 228, 0);
  border-width: 2px 1px;
  border-style: solid;
  border-color: rgb(255, 246, 167) rgb(255, 228, 0) rgb(243, 187, 0);
  border-image: inital;
  transition: all 200ms ease 0s;
}

.button-circle {
  flex: 1 0 auto;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  border-radius: 100%;
  background-color: rgb(255, 228, 0);
  border-width: 2px 1px;
  border-style: solid;
  border-color: rgb(255, 246, 167) rgb(255, 228, 0) rgb(243, 187, 0);
  border-image: inital;
}

.color-beige {
  background-color: rgb(219, 212, 175) !important;
  border-width: 1px 1px 2px !important;
  border-color: rgb(234, 230, 208) rgb(219, 212, 175) rgb(186, 180, 149) !important;
}

.color-red {
  background-color: rgb(255, 136, 30) !important;
  border-width: 1px 1px 2px !important;
  border-color: rgb(255, 185, 123) rgb(255, 136, 30) rgb(217, 116, 26) !important;
}

.color-blue {
  background-color: rgb(68, 200, 255) !important;
  border-width: 1px 1px 2px !important;
  border-color: rgb(145, 223, 255) rgb(68, 200, 255) rgb(63, 167, 211) !important;
}

.color-green {
  background-color: rgb(106, 233, 17) !important;
  border-width: 1px 1px 2px !important;
  border-color: rgb(199, 247, 156) rgb(106, 233, 17) rgb(95, 163, 19) !important;
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  }
}

@layer components {
  .border-ui {
    @apply border border-solid border-opacity-30 border-black;
  }

  .tutorial {
    @apply bg-tutorial border-t-8 border-tutorial z-10 w-full pb-8 pt-3 px-6;
  }

  .tutorial b {
    @apply text-purple;
  }

  .create-button-wrapper {
    @apply bg-gradient-to-br from-border-yellow via-yellow to-border-orange rounded-20px shadow-sharp inline-block;
  }

  .create-button {
    @apply bg-gradient-to-br from-yellow to-orange text-black text-vw py-2 px-3 rounded-20px text-center font-black;
  }

  .close-button {
    @apply flex items-center justify-center text-xxs absolute rounded-full top-0 right-0 text-black mr-6 mt-2 w-4 h-4;
  }

  @screen sm {
    .create-button {
      @apply text-2xl;
    }
  }

  @screen md {
    .tutorial {
      @apply p-8 pt-5 w-500px rounded-20px border-0 bg-transparent bg-gradient-to-b from-tutorial-desktop to-transparent;
    }
  }
}
